@import "tailwindcss";

:root {
  --primary-color: #121212;
  --secondary-color: #7e7e7e;
  --tertiary-color: #eeeeee;
}

/* Custom CSS Styles */
@theme {
  /* Colors */
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-tertiary: var(--tertiary-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-color);
  line-height: 1.5;
}
